.auth-warapper{
  gap: 15px;
  border: 2px solid rgb(34, 34, 34);
  padding: 20px;
  border-radius: 5px;
  width: 350px;
}

.auth-warapper input{
  width: 100%;
  padding: 10px 0;
  outline: none;
  border: 1px solid rgb(34, 34, 34);
  border-radius: 3px;
  padding-left: 5px;
  font-size: 16px;
  
}

.auth-warapper button{
  width: 100%;
  padding: 7px 0;
  font-size: 20px;
  color: white;
  border: 0px;
  outline: none;
  border-radius: 3px;
}

.auth-warapper p{
  font-size: 14px;
}

.auth-warapper button:hover,
.auth-warapper span:hover{
  opacity: 80%;
  cursor: pointer;
}

.incorrect{
  align-self: flex-start;
}
